---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hello WebGPU">
  <canvas id="main-canvas" class="w-screen h-screen"></canvas>
  <p id="loading-info" class="text-white absolute top-1/2 left-1/2" style="transform: translate(-50%, -50%);">Loading...</p>
</Layout>
<script>
  import main from '../lib/hello-webgpu/main.js'

  main('main-canvas', 'loading-info')
</script>